body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_52683-76100.jpg?t=st=1765026224~exp=1765029824~hmac=0a4519178ba9f97a845c32e2d0a58cfc34d5d4b0604ab40996946b3f671b40f7&w=2000");
}
.sidebar {
  width: 220px;
  height: 130vh;
  position: fixed;
  background-color: #1e293b;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar h2 {
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    cursor:pointer;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin: 20px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #a2acd5;
    font-size: 16px;
}
.sidebar .active{
    font-weight: bold;
    color:#ffffff;
}
.sidebar ul li a:hover {
    color:#ffffff;
    font-weight: bold;
}
.bottom{
    margin-top: auto;
}
.main {
  margin-left: 240px;   
  padding: 20px;
  min-height: 100vh;
}
.title{
  text-align: center;
  color: white;
}
.subtitle{
  text-align: center;
  color: white;
}
.topbar input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.submit-btn {
    background:rgb(0, 128, 0);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 200px;
}
.submit-btn:hover {
    transform: scale(1.05);
    background: rgba(91, 111, 155, 0.5);
}
.sign-out-btn{
    background:rgb(210, 0, 0);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}
.sign-out-btn:hover {
    transform: scale(1.05);
    background: rgba(91, 111, 155, 0.5);
}
.card {
    width: 280px;
    background: rgba(60, 73, 100, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(1,1,1,1.1);
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    cursor:pointer;
}
.card img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}
.card h3 {
    margin: 10px 0 5px;
    color: whitesmoke
}
.card p {
    font-size: 14px;
    color: #a8a8a8;
}
.card:hover {
 transform: scale(1.05);
 background: rgba(91, 111, 155, 0.5);
}
.author span {
    font-size: 13px;
    color: #7c84a4;
    font-weight: bold;
}
.star{
    font-size: 18px;
    color: white;
    margin-left: 210px;
    background-color: rgb(60, 73, 100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.star:hover {
    background-color: rgb(91, 111, 155);
}
.like{
    font-size: 18px;
    color: white;
    background-color: rgb(60, 73, 100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.like:hover {
    background-color: rgb(91, 111, 155);
}
